server:
  port: 8081
  servlet:
    context-path: /
spring:
  security:
    user: # httpBasic使用，不配置该用户会在控制台生成默认的user,xxxxxxxx
      name: admin
      password: 8888
  application:
    name: demo
  datasource:
    schema: classpath*:db/schema.sql
    data: classpath*:db/data.sql
    initialization-mode: always # always,never,embedded
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.3.21:3306/demo_spring_cloud?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=false&allowLoadLocalInfile=true
    username: root
    password: root
  redis:
    host: 192.168.3.21
    port: 6379
    password: root
  mvc:
    throw-exception-if-no-handler-found: true
  messages:
    basename: messages
    encoding: UTF-8

# es配置
elasticsearch:
    host: 192.168.3.21
    port: 9200
    scheme: http
    username: elastic
    password: elastic

# health配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

# mybatis配置
mybatis:
  type-aliases-package: com.example.demo.entity
  mapper-locations: classpath:mapper/*.xml

# 线程池配置
task:
  executor:
    pool:
      size: 10
    queue:
      size: 10000

# 三方平台配置
platform:
  1688:
    app-id: 111
    app-secret: 222
    app-token: 333
    product-collection-ids: 444 # 多个货盘用“,”拼接
    default-lang: zh_CN   # 默认语言
    default-currency: CNY # 默认币种
    fix-profit: 10.00 # 固定利润
    rate-profit: 10.00 # 百分比利润
  jdipp:
    app-id: 555
    app-secret: 666
    fix-profit: 10.00 # 固定利润
    rate-profit: 10.00 # 百分比利润